<div class="login-page">
    <div class="form" >
      <h3>Regístrate</h3>
      <form class="login-form" [formGroup]="aFormGroup" (ngSubmit)="registrar()">
        <input type="email" placeholder="Nombre" formControlName="name"/>
        <input type="email" placeholder="Email" formControlName="email"/>
        <input type="password" placeholder="Contraseña" formControlName="password"/>
        <!-- <ngx-recaptcha2 #captchaElem
        [siteKey]="siteKey"
        formControlName="recaptcha">
      </ngx-recaptcha2> -->
        <button type="submit">Registrar</button>
        <br>
        <br>
        <button type="button" [routerLink]="['/']" routerLinkActive="router-link-active" >Regresar al login</button>
      </form>
    </div>
  </div>
